/***** Pop input css *****/
.ph-pop-input {
    padding: 0.5em 1em;
    min-height: 3.5em;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--ph-l-grey);
    position: relative;
    cursor: text;
}

.ph-pop-input input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    transition: 0.2s;
    color: var(--ph-color);
}

.ph-pop-input-placeholder {
    position: absolute;
    transition: 0.2s;
    cursor: text;
}

.ph-pop-input:focus-within {
    border-color: var(--ph-l-green);
}

.ph-input-active {
    & .ph-pop-input-placeholder {
        transform: translateY(-60%);
        font-size: 0.9em;
        color: var(--ph-l-green);
    }

    & input {
        transform: translateY(35%);
    }

}

.ph-input-disabled {
    background-color: #6c6c6c2e;
    pointer-events: none;
}

/***** End Pop input css *****/

/***** Selection input css *****/
.ph-selection-preview {
    padding: 1em;
    border: 1px solid var(--ph-l-grey);
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    transition: 0.2s;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: 1fr auto;
    gap: 0.5em;
    white-space: nowrap;
}

.ph-slection-clicked {
    border-color: var(--ph-l-green);
    color: var(--ph-l-green);
}

.ph-selection-drop-down {
    padding: 0.5em;
    min-width: 7em;
    max-height: 50vh;
    overflow-y: auto;
    margin-top: 5px;

    & ul {
        padding: 0;
        margin: 0;

        & li {
            list-style: none;
            width: 100%;
            justify-content: center;
            cursor: pointer;
        }
    }
}

/***** End Selection input css *****/