.container {
    min-height: calc(100vh - 11.5em);
    animation: fadeIn 0.4s 1;
}

.hb-error-img-box img {
    width: 350px;
}

/***** button css *****/
.ph-btn {
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
    padding: 0.3em 0.8em;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 0.5em;
    transition: 0.2s;
}

.ph-btn:hover {
    filter: brightness(1.1);
}

.ph-btn:active {
    filter: brightness(0.8);
}

.ph-btn:disabled {
    filter: brightness(0.9);
    cursor: not-allowed;
}

.ph-btn-primary {
    background-color: var(--ph-l-green);
    border-radius: 10px;
    color: #fff;
}

.ph-btn-shadow {
    box-shadow: 0 0 9px 0 var(--ph-shadow-color);
    border-radius: 10px;
    justify-content: center;
    background-color: var(--ph-bg-color);
    color: var(--ph-body-color);
}

.ph-btn-shadow:hover {
    background-color: #4d4d4d46;
}

.ph-btn-shadow:disabled {
    background-color: var(--ph-secondary-color);
}

.ph-btn-danger {
    background-color: #f14d4d;
    border-radius: 10px;
    color: #fff;
}

/***** End button css *****/

/***** text css *****/
.ph-url-colored {
    text-decoration: none;
    color: #5076f5;
}

.ph-url {
    text-decoration: none;
    color: inherit;
}

.ph-f-sm {
    font-size: 0.9em;
}

pre {
    font-size: inherit;
    font-family: inherit;
    font-style: inherit;
    white-space: wrap;
    overflow: hidden;
    margin: 0;
}

/***** End text css *****/

/***** form css *****/
.ph-form-input-3-width {
    width: calc(100% / 3);
}

.ph-form-input-2-width {
    width: calc(100% / 2);
}

input[type=date],
input[type=time] {
    border: 1px solid var(--ph-l-grey);
    outline: none;
    width: 100%;
    padding: 0.5em 1em;
    min-height: 3.5em;
    border-radius: 10px;
    transition: 0.2s;
    background-color: transparent;
    color: inherit;
}

input[type=date]:focus,
input[type=time]:focus {
    border-color: var(--ph-l-green);
}

.ph-textarea {
    width: 100%;
    padding: 0.5em 1em;
    border: 1px solid var(--ph-l-grey);
    border-radius: 10px;
    transition: 0.2s;
    outline: none;
    min-height: 15em;
    background-color: transparent;
    color: inherit;
}

.ph-textarea:focus {
    border-color: var(--ph-l-green);
}

/***** End form css *****/

/***** Display css *****/
.ph-table {
    box-shadow: 0 0 9px 0 var(--ph-shadow-color);
}

.ph-table div {
    padding: 0.3em 0.5em;
    display: grid;
    grid-template-columns: auto 1fr;
    border-bottom: 1px solid var(--ph-l-grey);

    & strong {
        width: 7em;
    }
}

.ph-table div:last-child {
    border-bottom: none;
}

.ph-d-flex-wrap {
    display: flex;
    flex-flow: wrap;
    gap: 0.5em;
}

.ph-d-grid-2__first-prior {
    display: grid;
    grid-template-columns: 1fr auto;
}

/***** End Display css *****/

/***** animation css *****/
.ph-blink-anim {
    animation: blinkAnim 1s infinite;
}

@keyframes blinkAnim {

    0%,
    100% {
        filter: brightness(0.8);
    }

    50% {
        filter: brightness(1);
    }
}

.ph-fadein-anim {
    animation: fadeIn 0.4s 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.ph-fadeout-anim {
    animation: fadeOut 0.4s 1;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/***** End animation css *****/



/***** media queries *****/
@media screen and (max-width: 768px) {
    .container {
        max-width: unset !important;
    }
}

@media screen and (max-width: 475px) {
    .hb-error-img-box img {
        width: 80vw;
    }
}


/***** End media queries *****/