.ph-popup-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: radial-gradient(#5d5d5d33, #5d5d5d64);
    backdrop-filter: blur(5px);
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    overflow: auto;
    z-index: 10;
}

.ph-popup-box {
    min-width: 20em;
    background-color: var(--ph-bg-color);
    box-shadow: 0 0 9px 0 var(--ph-shadow-color);
    border-radius: 10px;
    animation: popupInAnim 0.4s 1;
    overflow: hidden;
}

@keyframes popupInAnim {
    0% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0px);
    }
}

.ph-popup-box-close-anim {
    animation: popupOutAnim 0.3s 1;
}

@keyframes popupOutAnim {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(50px);
    }
}

/***** Crop popup box *****/
.ph-crop-popup-content-box {
    width: fit-content;
    height: 80vh;
    display: grid;
    gap: 0.5em;
    grid-template-rows: 1fr auto;
}

.ph-cropper-box {
    width: 80vw;
    height: 70vh;
}

/***** End Crop popup box *****/

/***** Otp popup css *****/
.ph-otp-box {
    width: 25em;
    padding: 1em;
}

.ph-otp-input-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.ph-otp-input {
    width: 3em;
    height: 3em;
    padding: 0.5em;
    border: none;
    outline: none;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2em;
    background-color: var(--ph-bg-light);
    color: inherit;
    transition: 0.3s;
}

.ph-otp-input:focus {
    box-shadow: 0 0 10px 1px var(--ph-col-blue);
}

/***** End Otp popup css *****/


/***** Responsive css starts here *****/
@media screen and (max-width: 768px) {
    .ph-cropbox-popup {
        position: fixed;
        top: 0;
        left: 0;
    }

    .ph-crop-popup-content-box {
        width: 100vw;
        height: 100svh;
    }

    .ph-cropper-box {
        width: 100vw;
        height: 90svh;
    }
}

@media screen and (max-width: 450px) {
    .ph-otp-box {
        width: 90vw;
    }
}

@media screen and (max-width: 350px) {
    .ph-popup-box {
        min-width: unset;
    }

    .ph-otp-input {
        /* width: 2em;
        height: 2em; */
        font-size: 1em;
    }
}

/***** End Responsive css starts here *****/