/***** Profile image section css *****/
.ph-profile-img-sec {
    padding: 1em;
    display: flex;
    align-items: center;
    gap: 2em;
}

.ph-profile-img-box {
    display: grid;
}

.ph-profile-img-box img {
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

/***** End Profile image section css *****/

/***** user details section css *****/
.ph-user-details-sec {
    box-shadow: 0 0 9px 0 var(--ph-shadow-color);
}

.ph-user-det-line {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
    padding: 0.5em;
    border-bottom: 1px solid var(--ph-border-lt);
}

.ph-user-det-line div:first-child {
    width: 7em;
}

/***** End user details section css *****/

/***** profile nav css *****/
.ph-profile-nav {
    display: flex;
    align-items: center;
    padding: 0.5em;
    gap: 1em;
    margin-bottom: 1em;
    background-color: var(--ph-bg-color);
    position: sticky;
    top: 4.4em;
    z-index: 3;

    & a {
        background-color: inherit;
        text-decoration: none;
    }
}

.ph-profile-nav-opt {
    border: none;
    outline: none;
    background-color: var(--ph-secondary-color);
    padding: 0.3em 0.9em;
    border-radius: 10px;
    transition: 0.3s;
    color: var(--ph-body-color);
}

.ph-profile-nav .active button {
    background-color: rgb(88, 166, 255);
    color: #ffff;
}

/***** End profile nav css *****/

/***** Request page css *****/

.hb-profile-request-list {
    display: flex;
    flex-flow: wrap;
    gap: 1.3em;
}

.ph-request-item {
    width: 20em;
    box-shadow: 0 0 9px 0 var(--ph-shadow-color);
    padding: 0.5em;
}

.ph-request-item .ph-btn-shadow {
    width: 100%;
}

.ph-request-item-det-box {
    background-color: var(--ph-secondary-color);
    margin-bottom: 0.5em;
}

.ph-request-item-det-box>div {
    padding: 0.2em 0.5em;
    display: grid;
    grid-auto-flow: column;

    & strong {
        justify-self: start;
    }

    & span {
        justify-self: end;
    }
}

/***** End Request page css *****/


/***** Profile campaign list *****/
.ph-profile-campaign-list {
    display: flex;
    flex-flow: wrap;
    gap: 1.3em;
}

/***** End Profile campaign list *****/

/***** Profile edit page css *****/
.ph-profile-edit-section {
    box-shadow: 0 0 9px 0 var(--ph-shadow-color);
    padding: 0.7em;
}

.ph-profile-edit-img-box img {
    width: 170px;
    border-radius: 50%;
}

/***** End Profile edid page css *****/


/***** media queries *****/
@media screen and (max-width: 711px) {
    .ph-request-item {
        width: 100%;
    }

    .ph-profile-img-box img {
        width: 150px;
    }
}

@media screen and (max-width: 570px) {
    .ph-profile-img-sec {
        padding: 0.5em;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
    }

    .ph-profile-user-gen-det-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 425px) {
    .ph-profile-img-sec {
        padding: 0.5em;
        gap: 1em;
    }

    .ph-profile-img-box img {
        width: 130px;
    }
}

/***** End media queries *****/