.ph-auth-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 6em);
}

.ph-auth-box {
    width: 30em;
    box-shadow: 0 0 9px 0 var(--ph-shadow-color);
    border-radius: 20px;
    background-color: var(--ph-shadow-color);
}

.ph-auth-page-nav {
    padding: 1em;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    gap: 0.7em;
}

.ph-auth-nav-opt {
    border: 3px solid transparent;
    background-color: transparent;
    outline: none;
    font-weight: bold;
    color: var(--ph-body-color);
    padding: 0.3em 0.5em;
    transition: 0.2s;
}

.ph-auth-page-nav .active .ph-auth-nav-opt {
    border-bottom: 3px solid var(--ph-l-green);
    color: var(--ph-l-green);
}

.ph-auth-outlet-container {
    background-color: var(--ph-bg-color);
    border-radius: 20px;
    min-height: 60vh;
    width: 100%;
    padding: 1em;
    display: grid;
    overflow-y: auto;
}

.ph-auth-btn {
    width: 100%;
    justify-content: center;
}

/***** media queries *****/
@media screen and (max-width: 575px) {
    .ph-auth-box {
        width: 90vw;
    }
}

/***** End media queries *****/