.ph-helper-item {
    width: 100%;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 0.7em;
    box-shadow: 0 0 9px 0 var(--ph-shadow-color);
    background-color: #00800030;
    border-radius: 15px;
    margin-bottom: 0.7em;
}

.ph-contact-details-popup {
    max-width: 35em;
    position: relative;
}

.ph-helper-conatct-box {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    & img {
        border-radius: 50%;
    }
}

.ph-popup-close-btn-box{
    position: absolute;
    right: 0;
}